<!DOCTYPE HTML>
<html>
  <head>
    <title>OpenRubyRMK Mailinglist archives</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/lists/archive.css" type="text/css" />
  </head>
  <body>

    <div id="banner">
      <div id="header">
        <p>OpenRubyRMK Mailing list archives</p>
      </div>
      <div id="topnav">
        <a href="/">Home</a>
        <%= yield_content :topnav %>
      </div>
    </div>

    <div id="mailinglists">
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
