<!DOCTYPE HTML>
<html>
  <head>
    <title>OpenRubyRMK Mailinglist archives</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/lists/archive.css" type="text/css" />
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
