<h1>Mailinglist archive for <%= @mlname %></h1>

<p>This is the ML archive for the <%= @mlname %> list. The following
  periods have been archived:</p>

<ul>
  <% @index_files.each do |name, target| %>
    <li><a href="<%= target %>"><%= name %></a></li>
  <% end %>
</ul>
