<h1>Mailinglist archive for <%= @mlname %></h1>

<p>This is the ML archive for the <%= @mlname %> list. The following
  periods have been archived:</p>

<ul>
  <% Pathname.new(MlArchive.settings.ml_archive_dir).join(@mlname).each_child do |yeardir| %>
    <% yeardir.each_child do |monthdir| %>
      <li><a href="<%= "/lists/#@mlname/#{yeardir.basename}/#{monthdir.basename}/index.html" %>"><%= "#{yeardir.basename}-#{monthdir.basename}" %></a></li>
    <% end %>
  <% end %>
</ul>
