<h1>Search</h1>

<form method="post" action="/lists/<%= @mlname %>/search">
  <p>Search the <%= @mlname %> mailinglist:</p>
  <p><input type="text" name="query"/></p>
  <p><input type="submit"/></p>
</form>
