<% content_for :topnav do %>
  |
  <a href=".">Month and Year Index</a>
  |
  <a href="search">Search</a>
<% end %>

<h1>Results</h1>

<p>Searched the <em><%= @mlname %></em> mailinglist for <em>“<%= @query %>”</em>.</p>

<% if @results.empty? %>
  <p>Nothing found.</p>
<% else %>
  <ul>
    <% @results.each do |target, desc| %>
      <li><a href="<%= target %>"><%= desc %></a></li>
    <% end %>
  </ul>
<% end %>
