<!DOCTYPE HTML>
<html>
  <head>
    <title>OpenRubyRMK Mailing list archives</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <h1>OpenRubyRMK Mailing list archives</h1>
    <p>We are currently maintaining archives for the following mailing lists:</p>
    <ul>
      <li><a href="/lists/orr-discuss">OpenRubyRMK discussion ML (orr-discuss)</a></li>
    </ul>
  </body>
</html>
