<!DOCTYPE HTML>
<html>
  <head>
    <title>OpenRubyRMK Mailing list archives</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <h1>OpenRubyRMK Mailing list archives</h1>
    <p>
      Welcome to the OpenRubyRMK mailinglist archives. This website
      collects all the emails that are sent to our mailinglists
      publicely. If you never used a mailinglist: It’s basically like
      a web forum, just over email. Once you signed up for the ML
      successfully, you will receive each message posted to the ML’s
      address directly into your email inbox. This way you most likely
      won’t ever miss anything.
    </p>
    <p>
      The mailinglists below are public. If you want to make a private
      conversation with one of the developers or somebody else on the
      list, please email him/her directly.
    </p>
    <p>
      In the below instructions, replace <em>&lt;listname&gt;</em>
      with the name of one of the mailinglists listed
      under <a href="#available-mls">below</a>.
    </p>

    <h2 id="available-mls">Available mailing lists and their archives</h2>
    <p>We are currently maintaining archives for the following mailing
    lists (the name in parentheses ist the name of the ML):</p>
    <ul>
      <li><a href="/lists/orr-discuss">OpenRubyRMK discussion ML (<strong>orr-discuss</strong>)</a></li>
    </ul>

    <h2>How to subscribe</h2>
    <p>
      Send an empty email
      to <em>&lt;listname&gt;+subscribe@lists.openrubyrmk.org</em>.
      You will receive a confirmation email you have to reply to
      (really, just hit “reply” and send it without further
      modification). After this email has been received by the mail
      system, you have subscribed to the ML.
    </p>

    <h2>How to unsubscribe</h2>
    <p>
      Send an empty email
      to <em>&lt;listname&gt;+unsubscribe@lists.openrubyrmk.org</em>. You
      will receive a confirmation email you have to reply to, just as
      with subscription.
    </p>

    <h2>How to post</h2>
    <p>
      Send your email
      to <em>&lt;listname&gt;@lists.openrubyrmk.org</em> and be
      happy.
    </p>

    <h2>Filtering</h2>
    <p>
      All emails send to the ML will automatically be prefixed
      with <em>[&lt;listname&gt;]</em> and will have a mail
      header <em>List-Id:</em> with its value set
      to <em>&lt;listname&gt;.lists.openrubyrmk.org</em>. You can use
      this information to set up a filtering program for your mail
      server/client.
    </p>

    <h2>Getting help on the mailsystem</h2>
    <p>
      The mail system in use for our mailinglists
      is <a href="http://www.mlmmj.org">mlmmj</a>. To get a list of
      available “commands” send an empty email
      to <em>&lt;listname&gt;+help@lists.openrubyrmk.org</em>.
    </p>

    <h2>Preventing an email from being archived</h2>
    <p>
      If you don’t want your email to show up in the public webarchive
      (please think twice before you do so), you can set
      the <em>X-no-archive</em> email header known from Usenet
      to <em>yes</em>. Our archiving system
      (<a href="http://www.mhonarc.org">MHonArc</a>) honours this and
      your email will not show up in the public webarchive.
    </p>
  </body>
</html>
